html.ea-gradient {
 background: #01081d !important;

  #main-outlet-wrapper {
    margin-top: var(--ea-curve-offset);
  }
}

.wrap {
  max-width: 1800px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: 2.5em !important;
  padding-left: 2.5em !important;
}

